<plugin>
    <extension
            point="com.katalon.platform.extensions">
        <point
                id="io.railflow.plugin.testrail.TestRailEventListenerInitializer"
                extensionPointId="com.katalon.platform.api.extension.eventListener"
                implementationClass="io.railflow.plugin.testrail.TestRailEventListenerInitializer">
        </point>
    </extension>
    <extension
            point="com.katalon.platform.extensions">
        <point
                id="io.railflow.plugin.testrail.TestRailMenuItemDescription"
                extensionPointId="com.katalon.platform.api.extension.newDropdownToolItem"
                implementationClass="io.railflow.plugin.testrail.TestRailMenuItemDescription">
        </point>
    </extension>
    <extension
         point="com.katalon.platform.extensions">
      <point
            id="io.railflow.plugin.testrail.TestRailPluginPreferencePage"
            extensionPointId="com.katalon.platform.api.extension.pluginPreferencePage"
            implementationClass="io.railflow.plugin.testrail.TestRailPluginPreferencePage">
      </point>
    </extension>
    <extension
            point="com.katalon.platform.extensions">
        <point
                id="io.railflow.plugin.testrail.TestRailTestCaseIntegrationPage"
                extensionPointId="com.katalon.platform.api.extension.testCaseIntegrationViewDescription"
                implementationClass="io.railflow.plugin.testrail.TestRailTestCaseIntegrationViewDescription">
        </point>
    </extension>
    <extension
            point="com.katalon.platform.extensions">
        <point
                id="io.railflow.plugin.dynamic_execution.TestRailFilteringTestSuiteImpl"
                extensionPointId="com.katalon.platform.api.extension.dynamicQueryingTestSuiteDescription"
                implementationClass="io.railflow.plugin.testrail.TestRailQueryingTestSuite">
        </point>
    </extension>
</plugin>
